{% extends 'bullion/base.html' %}

{% block title %}{{ coin.inline_text }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>{{ coin.inline_text }}</h3>
                </div>

                <div class="panel-body">
                    <h3><small>cena (<span id="time"></span>)</small></h3>
                    <h1>
                        <span id="price" class="label label-warning"></span>
                    </h1>
                    <hr>
                    <table>
                        <tr><td>{{ coin.country }}</td></tr>
                        <tr><td>{{ coin.face_value }}</td></tr>
                        <tr><td>{{ coin.mint_dates }}</td></tr>
                        <tr><td>{{ coin.description }}</td></tr>
                        <tr><td>{{ coin.metal }}</td></tr>
                        <tr><td>{{ coin.weight }} g</td></tr>
                        <tr><td>{{ coin.fineness }} /1000</td></tr>
                        <tr><td></td></tr>
                    </table>
                </div>

                <div class="panel-footer">
                    <a href="{% url 'coin_update' coin.pk %}" class="btn btn-default btn-sm" role="button" title="Edytuj">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url 'coin_delete' coin.pk %}" class="btn btn-default btn-sm" role="button", title="Usuń">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }
    });

    function updatePricesOnPage(data) {
        console.log({{ coin.pk }})
        console.log(data[{{ coin.pk }}]['price'])
        $('#price').text(data[{{ coin.pk }}]['price'] + ' zł')
        $('#time').text(data[{{ coin.pk }}]['time'])
    }

    function sendUpdatePricesRequest() {
        $.ajax({
            url: '{% url 'update_coin_prices' %}',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                updatePricesOnPage(data)
            },
            error: function(xhr, textStatus, error) {
                console.log('AJAX error: ' + xhr.status + ' ' + error)
            }
        })
    }

    function sendGetPricesRequest() {
        $.ajax({
            url: '{% url 'get_coin_prices' %}',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                updatePricesOnPage(data)
            },
            error: function(xhr, textStatus, error) {
                console.log('AJAX error: ' + xhr.status + ' ' + error)
            }
        })
    }

    $(document).ready( function() {
        sendGetPricesRequest();
        sendUpdatePricesRequest();
    });

    setInterval(function () {
        sendUpdatePricesRequest();
    }, 10000);

</script>

{% endblock %}
