{% extends 'bullion/base.html' %}

{% block title %}
    {% if coin.pk %}{{ coin.inline_text }}{% else %}Nowa Moneta{% endif %}
{% endblock %}

{% block content %}
{% load l10n %}
<div class="container">
    <div class="page-header">
        {% if coin.pk %}
            <h1>Moneta <small>{{ coin.inline_text }}</small></h1>
        {% else %}
            <h1>Nowa Moneta</h1>
        {% endif %}
    </div>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label col-sm-2">
                    {% if field.field.required %}<span class="font-weight-normal small text-muted">(wymagane)</span>{% endif %}
                    {{ field.label_tag }}
                </label>
                <div class="col-sm-8">
                    {{ field }}
                    <span class="help-block">{{ field.errors }}</span>
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-success">Zapisz</button>
                <button onclick="window.history.back();" class="btn btn-default" type="button">Anuluj</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
