{% extends 'bullion/base.html' %}

{% block title %}Monety{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="page-header">
                <h1 class="text-center">Monety</h1>
                <h3 class="text-center"><small>aktualne ceny monet</small></h3>
            </div>
            {% if all_coins %}
                <input type="text" id="searchInput" onkeyup="search()" placeholder="Szukaj..." class="form-control">

                <table class="table table-condensed table-coin-list">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">Państwo</th>
                            <th class="text-center">Nominał</th>
                            <th class="text-center">Lata bicia</th>
                            <th class="text-center">Opis</th>
                            <th class="text-center">Metal</th>
                            <th class="text-center">Próba</th>
                            <th class="text-right">Waga [g]</th>
                            <th class="text-right">Wartość</th>
                            <th class="text-right">Czas</th>
                        </tr>
                    </thead>
                    <tbody id="coinTable">
                        {% for coin in all_coins %}
                            <tr style="background-color:
                                {% if coin.metal.stooq_symbol == 'XAUPLN' %}#fff5cc;
                                {% elif coin.metal.stooq_symbol == 'XAGPLN' %}#eeeeee;
                                {% endif %}"
                            >
                                <td>
                                    <a href="{% url 'coin_detail' coin.pk %}" title="Szczegóły...">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                </td>
                                <td>{{ coin.country }}</td>
                                <td>{{ coin.face_value }}</td>
                                <td>{{ coin.mint_years }}</td>
                                <td>{{ coin.description }}</td>
                                <td>{{ coin.metal.short }}</td>
                                <td class="text-right">{{ coin.fineness }}</td>
                                <td class="text-right">{{ coin.weight|floatformat:2 }}</td>
                                <td class="text-right"><strong id="price_{{ coin.pk }}">-----</strong></td>
                                <td id="time_{{ coin.pk }}" class="text-right">(.........wczytuję.........)</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-center">Nie ma żadnych monet do pokazania.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

<script>

    function search() {
        var $rows = $('#coinTable tr');
        $('#searchInput').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    }


    // AJAX PRICE REFRESH

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }
    });

    function updatePricesOnPage(data) {
        $.each(data, function(key, value) {
            element = '#price_' + key
            if ( $(element).length ) {
                $(element).text(value['price']);
            }
            element = '#time_' + key
            if ( $(element).length ) {
                $(element).text(value['time']);
            }
        });
    }

    function sendUpdatePricesRequest() {
        $.ajax({
            url: '{% url 'update_coin_prices' %}',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                updatePricesOnPage(data)
            },
            error: function(xhr, textStatus, error) {
                console.log('AJAX error: ' + xhr.status + ' ' + error)
            }
        })
    }

    function sendGetPricesRequest() {
        $.ajax({
            url: '{% url 'get_coin_prices' %}',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                updatePricesOnPage(data)
            },
            error: function(xhr, textStatus, error) {
                console.log('AJAX error: ' + xhr.status + ' ' + error)
            }
        })
    }

    $(document).ready( function() {
        sendGetPricesRequest();
        sendUpdatePricesRequest();
    });

    setInterval(function () {
        sendUpdatePricesRequest();
    }, 10000);

</script>

{% endblock %}
