{% extends 'bullion/base.html' %}

{% block title %}Monety{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1 class="text-center">Monety</h1>
    </div>
    {% if all_coins %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Państwo</th>
                    <th class="text-center">Nominał</th>
                    <th class="text-center">Lata bicia</th>
                    <th class="text-center">Opis</th>
                    <th class="text-center">Metal</th>
                    <th class="text-center">Próba</th>
                    <th class="text-center">Waga</th>
                    <th class="text-right">Wartość</th>
                    <th class="text-right">Czas</th>
                </tr>
            </thead>
            <tbody>
                {% for coin in all_coins %}
                    <tr>
                        <td>
                            <a href="{% url 'coin_detail' coin.pk %}" title="Szczegóły...">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </td>
                        <td>{{ coin.country }}</td>
                        <td>{{ coin.face_value }}</td>
                        <td>{{ coin.mint_years }}</td>
                        <td>{{ coin.description }}</td>
                        <td>{{ coin.metal.short }}</td>
                        <td>{{ coin.fineness }}</td>
                        <td>{{ coin.weight }}</td>
                        <td class="text-right"><strong id="price_{{ coin.pk }}"></strong></td>
                        <td id="time_{{ coin.pk }}" class="text-right"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center">Nie ma żadnych monet do pokazania.</p>
    {% endif %}
</div>

{% endblock %}

{% block javascript %}

<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }
    });

    function updatePricesOnPage(data) {
        $.each(data, function(key, value) {
            element = '#price_' + key
            if ( $(element).length ) {
                $(element).text(value['price']);
            }
            element = '#time_' + key
            if ( $(element).length ) {
                $(element).text(value['time']);
            }
        });
    }

    function sendUpdatePricesRequest() {
        $.ajax({
            url: '{% url 'update_coin_prices' %}',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                updatePricesOnPage(data)
            },
            error: function(xhr, textStatus, error) {
                console.log('AJAX error: ' + xhr.status + ' ' + error)
            }
        })
    }

    function sendGetPricesRequest() {
        $.ajax({
            url: '{% url 'get_coin_prices' %}',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                updatePricesOnPage(data)
            },
            error: function(xhr, textStatus, error) {
                console.log('AJAX error: ' + xhr.status + ' ' + error)
            }
        })
    }

    $(document).ready( function() {
        sendGetPricesRequest();
        sendUpdatePricesRequest();
    });

    setInterval(function () {
        sendUpdatePricesRequest();
    }, 10000);

</script>

{% endblock %}
