{% extends 'bullion/base.html' %}

{% block title %}Strona główna{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Bullion</h1>
            <h3 class="text-center"><small>ceny monet na bieżąco</small></h3>
        </div>
        <hr>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th class="text-center">Metal</th>
                    <th class="text-right">Cena 1 uncji</th>
                    <th class="text-right">Cena 1 grama</th>
                    <th class="text-center">Kiedy</th>
                </tr>
            </thead>
            <tbody>
                {% for metal in all_metals %}
                    <tr>
                        <td class="text-center">{{ metal.name }}</td>
                        {% if metal.last_price_oz %}
                            <td class="text-right">{{ metal.last_price.value_per_oz|floatformat:2 }}</td>
                            <td class="text-right">{{ metal.last_price.value_per_gram|floatformat:2 }}</td>
                            <td class="text-center">{{ metal.last_price.time }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}

<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }
    });

    function updatePrices() {
        $.ajax({
            url: '{% url 'update_metal_prices' %}',
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (data) {
                console.log('AJAX succeeded');
                console.log('response: ' + data.text);
            },
            error: function(xhr, textStatus, error) {
                console.log('AJAX error: ' + xhr.status + ' ' + error)
            }
        })
    }

    $(document).ready( function() {
        console.log('document ready fired!');
        updatePrices();
    });

    setInterval(function () {
        console.log('setInterval() fired!');
    }, 10000);

</script>

{% endblock %}
